doctype html
html
  include includes/head.pug
  body
    include includes/nav-bar.pug
    include includes/buttons-container.pug
    include includes/popup-container.pug
    include includes/content.pug
    include includes/sign-in-popup.pug
    include includes/home-page.pug
    include includes/game-field.pug
    h1= message