html, body {
    background: #d7d7d7;
    position: relative;
    cursor: default;
    height: 100%;
    width: 100%;
}

.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.leader-board,
.upload-image-file-form,
.sign-up-form,
.login-form {
    padding: 1.5em;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    background: #ffffff;
    margin: 0 auto;
    max-width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.leader-board .header {
    color: #6417ad;
}

nav.puzzle-nav-bar {
    background-color: #5f3096;
    border-color: #560F96;
    border-radius: 0;
    margin-bottom: 0;
    padding-left: 10px;
}

nav.puzzle-nav-bar div.container-fluid {
    padding: 0;
}

button.btn-puzzle,
nav.puzzle-nav-bar button {
    background-color: #9447ff;
    border-color: #9156d3;
    color: #ffffff;
    font-weight: bolder;
}

button.btn-puzzle:hover,
nav.puzzle-nav-bar button:hover {
    background-color: #c682ff;
    border-color: #5f3096;
    color: #ffffff;
}

nav.puzzle-nav-bar button:focus,
nav.puzzle-nav-bar button:active:focus,
nav.puzzle-nav-bar button:active {
    background-color: #a551ff;
    border-color: #512196;
    color: #ffffff;
}

nav.puzzle-nav-bar button.controls {
    margin-right: 10px;
}

.container-fluid div.puzzle-navbar-header {
    padding: 10px 0 10px 0;
    vertical-align: middle;
}

.brand-container .puzzle-brand-name {
    color: #ffffff;
    font-weight: bolder;
}

.puzzle-logo {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.navbar-right.controls-container {
    padding: 0;
}

.content {
    width: 100%;
}

.wrapper {
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    background-color: rgba(6, 5, 6, 0.3);
    z-index: 2;
    color: #fff;
    max-height: 100%;
    overflow-y: auto;
}

.container.popup-container {
    padding: 0;
    width: 100%;
    height: auto;
}

#popup_container input,
#popup_container button {
    margin-top: 1em;
}

.players-images-container div.add-image-button {
    width: 61px;
    height: 61px;
    text-align: right;
    padding: 9px;
    background: #935FE4;
    color: #fff;
    font-weight: bolder;
    margin: 10px 0 0 10px;
}

.players-images-container div.add-image-button:hover {
    background: #653be4;
}

.game-field .tools-panel {
    overflow: hidden;
    position: relative;
    background: rgba(100, 51, 156, 0.46);
    width: 100%;
    height: 40px;
}

.game-field {
    height: 100%;
    background: #d7d7d7;
}

.canvas-box {
    width: 100%;
    margin: 0 auto;
}

.canvas-box canvas {
    border: 1px solid #9798ff;
    width: 100%;
}

/***/
.puzzle-image,
.emptyImage {
    display: none;
}

.puzzle-active-image,
.active-image {
    display: none;
}

.tools-panel img {
    width: 24px;
    height: 24px;
    vertical-align: baseline;
}

.tools-panel .cancelGame,
.tools-panel .zoomIn,
.tools-panel .zoomOut,
.tools-panel .help {
    display: inline-block;
    opacity: 0.7;
    cursor: pointer;
}

.tools-panel .cancelGame:hover,
.tools-panel .zoomIn:hover,
.tools-panel .zoomOut:hover,
.tools-panel .help:hover {
    display: inline-block;
    opacity: 0.8;
    cursor: pointer;
}

.puzzle-image {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
}

input.form-file-input {
    border: none;
    box-shadow: none;
}

.gameFieldTemplate {
    height: 100%;
}

.controls-container {
    padding: 10px 10px 0 10px;
    float: left;
}

.game-timer-container {
    float: right;
    height: 100%;
    text-align: center;
    padding: 6px 10px 0 10px;
    color: #956bff;
    background: #1f0846;
    font-size: 22px;
    font-weight: bolder;
}

.game-timer-container span {
    margin-top: 2px;
}

.puzzle-image-container img {
    vertical-align: top;
    width: 150px;
}

.puzzle-image-container span.glyphicon {
    margin-left: -10px;
    margin-top: 10px;
}

.puzzle-image-container img {
    margin: 10px;
    border: 1px solid #b9babe;

}

.puzzle-image-container img:hover {
    border: 1px solid #9687be;
}

.leader-board {
    width: 100%;
    text-align: center;
}

.leader-board-line {
    color: #48107c;
}

.leader-board-line .glyphicon-star {
    color: #c0b755;
}