script(type='html/template' id='buttonsContainerTemplate')
  div(data-bind='visible: isVisibleControls')
    button.btn.navbar-right.navbar-btn.controls(
      data-bind='visible: isVisibleLoginButton, click: onSignInClicked;'
    ) signIn
    button.btn.navbar-right.navbar-btn.controls(
      data-bind='visible: isVisibleLoginButton, click: onSignUpClicked;'
	) signUp
    button.btn.btn-success.navbar-right.navbar-btn(
      data-bind='visible: isVisibleLogOut, click: onLogoutClicked;'
    ) signOut