head
  title= appTitle
  link(rel='stylesheet', href='../css/main.css')
  link(rel='stylesheet', href='../../libs/bootstrap-3.3.5-dist/css/bootstrap.css')
  script(src='../libs/Knockout-3.3.0/knockout-3.3.0.js')
  script(src='../libs/jquery-2.1.4.js')
  script(src='../libs/paper/paper.js')
  script(src='../libs/bootstrap-3.3.5-dist/js/bootstrap.js')
  script(src='../js/FactoryComponent.js' defer='defer')
  script(src='../js/config.js' defer='defer')
  script(src='../libs/EventDispatcher.js' defer='defer')
  scrip(type='text/paperscript' canvas='puzzleCanvas' src='../js/Puzzle.js' defer='defer')
  script(src='../js/GameEngine.js' defer='defer')
  script(src='../js/TimerComponent.js' defer='defer')
  script(src='../js/RequestManager.js' defer='defer')
  script(src='../js/NavBarButtonsComponent.js' defer='defer')
  script(src='../js/GameFieldComponent.js' defer='defer')
  script(src='../js/LoginFormComponent.js' defer='defer')
  script(src='../js/SingUpFormComponent.js' defer='defer')
  script(src='../js/ImageFileFormComponent.js' defer='defer')
  script(src='../js/MainPageComponent.js' defer='defer')
  script(src='../js/LeaderBoardComponent.js' defer='defer')
  script(src='../js/index.js' defer='defer')